<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="motoman_hc10">
  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- baseplate and mountingplate remain unchanged -->
  ...existing code...
  <joint name="base_to_robot_joint" type="fixed">
    <parent link="mountingplate_link" />
    <child link="robot_base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 ${pi}"/>
  </joint>


  <!-- Motoman HC10 robot attached to robot_base_link -->
  <xacro:include filename="$(find motoman_hc10_support)/urdf/hc10_macro.xacro" />
  <!-- Attach HC10 base_link to robot_base_link -->
  <joint name="hc10_mount_joint" type="fixed">
    <parent link="robot_base_link" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <xacro:motoman_hc10 prefix="" />

  ...existing code...


  <material name="LightGrey">
      <color rgba="0.7 0.7 0.7 1.0" />
  </material>

  <material name="blue">
      <color rgba="0 0 0.8 1" />
  </material>

  <material name="red">
      <color rgba="0.8 0 0 1" />
  </material>


  <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
                    izz="${m*r*r/2}" />
  </xacro:macro>

  <xacro:macro name="box_inertia" params="m x y z">
          <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(x*x+z*z)/12}" iyz = "0"
                    izz="${m*(x*x+z*z)/12}" />
  </xacro:macro>

  <xacro:macro name="sphere_inertia" params="m r">
          <inertia  ixx="${2*m*r*r/5}" ixy = "0" ixz = "0"
                    iyy="${2*m*r*r/5}" iyz = "0"
                    izz="${2*m*r*r/5}" />
  </xacro:macro>


  <link name="baseplate_link">
    <visual>
      <origin xyz="0 0 0.0" />
      <geometry>
        <box size="0.7 1.1 0.03" />
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <inertial>
      <mass value="10"/>
      <xacro:box_inertia m="10" x="1.1" y="0.7" z="0.03"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.7 1.1 0.03" />
      </geometry>
    </collision>
  </link>

  <joint name="baseplate_joint" type="fixed">
    <origin xyz="0 0 0" />
    <parent link="world" />
    <child link="baseplate_link" />
  </joint>

  <link name="mountingplate_link">
    <visual>
      <origin xyz="0 0 0.0" />
      <geometry>
        <box size="0.3 0.3 0.012" />
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1"/>
      <xacro:box_inertia m="1" x="0.3" y="0.3" z="0.012"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.3 0.3 0.012" />
      </geometry>
    </collision>
  </link>

  <joint name="mountingplate_joint" type="fixed">
    <origin xyz="-0.2 0.0 0.021" />
    <parent link="baseplate_link" />
    <child link="mountingplate_link" />
  </joint>

   <link name="robot_base_link" />

  <!-- robot to mounting_plate. -->
  <joint name="robot_base_joint" type="fixed">
    <parent link="mountingplate_link" />
    <child link="robot_base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 ${pi}"/>
  </joint>


 
</robot>
